{% load staticfiles %}
<html>

  <head>
    <title>challenge.me</title>
    <link rel='stylesheet' href='{% static 'css/challenge.css' %}'>
  </head>

  <body>
    <div>
      <p><h1>hallihallo!</h1></p>
    </div>

    <div>
      <p><h2>These are the archived challenges:</h2></p>

      {{ challenges }}

    {% for archived in archived_chalengs %}
      {{ archived_challenges }}
    {% endfor %}

    </div>


    {% for challenge in challenges %}
      <div>
        <p>published: {{ challenge.published_date }}</p>
        <h1><a href=''> {{ challenge.title }}</a></h1>
        <p>{{ challenge.text|linebreaksbr }}</p>
      </div>
      <br><br>
    {% endfor %}


  </body>


</html>
