{% load staticfiles %}


<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge.Me</title>

    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    
  </head>
  <body class="container">

    <nav class="navigation"></nav>

    <header class="header">
      <div class="card">
        <div class="card__side card__side--front">
          <h4 class="card__heading">
            Challenge Motto
          </h4>

          <a href="#" class="btn btn--white">Commit to challenge</a>
        </div>

        <div class="card__side card__side--back">
          <div class="card__details">
            Challenge Details
          </div>
        </div>
      </div>

      <h2 class="header__headline header__headline--left">Love cooking? Level up your skills.</h2>
      <h2 class="header__headline header__headline--right">Challenge yourself.</h2>
    </header>

    <section class="best-recipes">
      Best Recipes
    </section>

    <section class="last-challenges">
      Last Challenges
    </section>

    <footer class="footer">
      Footer
    </footer>

  </body>
</html>
