// COLORS
$color-1: #58ffc0;

$color-grey-light: #5a5652;
$color-grey: #343435;
$color-grey-dark: #24231f;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$font-headline: 'Alegreya', serif;
$font-text: "Helvetica Neue", Helvetica, Arial, sans-serif;