// COLORS
$color-1: #55c57a;
$color-1-light: #7ed56f;
$color-1-dark: #28b485;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;